* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fontes adicionais */
/*     font-family: 'Press Start 2P', cursive;

    font-family: 'Stardos Stencil', cursive; */

body {
    background-image: url('../img/Backgroundjpg\ \(1\).jpg');
    background-size: auto 100vh;
    height: 100vh;
    font-family: harrington;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400 px carrega */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaotitulo forwards;
}

@keyframes animacaotitulo{
  /*0:{

  }*/
  100% { transform: scale(1) translateY(0);
       opacity: 1;
    
  }
}
  
.menu { 
    background-color: #999999;
   /*isso chama somente o menu*/
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;

}

.menu ul {
    display: flex;
    justify-content: space-around;
}
    
.menu li {
    list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 2s, color 1s;
}

.menu a:hover {
  background-color: purple;
  color: #999999;
}

a {
    color: purple;
    text-decoration: none;
  /*identificador todos do grupo sao alterados*/
}
  
a:hover{
    text-decoration: underline;
  /*isso é um pseudoseletor*/
}
  
.site-subtitle,
.site-title {
    text-align: center;
    color: whitesmoke;
}

.site-title {
  font-size: 4em;
  font-family: 'Press Start 2P', cursive;
}

.sobre,
.Contato,
.Portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre p{
  color: white;
  margin-bottom: 1em;
  text-indent: 1.5em;
}

.sobre .avatar {
  margin-left: 1em;
}

.sobre .avatar img {
    clip-path: polygon(100% 0%, 100% 70%, 50% 100%, 0 70%, 0 0, 50% 37%);
}

@media (min-width: 600px) {
  .sobre .avatar img{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
  .sobre .avatar {
    float: right;
  }
}

.Portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 540px) {
  .Portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .Portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
    align-content: center;
    height: calc(100vh - 4em - 48px - 1.5em);
  }
}

.Portfolio figure {
  text-align: center;  
}

.sobre h2,
.contato h2,
.Portfolio h2{
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1.5em;

}
  
.site-subtitle {
    font-style: italic;
    font-family: 'Stardos Stencil', cursive;
}
  
.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
}

@media (min-width: 1200px) {
  .img-portfolio {
    height: 200px;
    width: 240px;
  }
}

.flip-card {
  height: 180px;
  width: 240px;
  perspective: 1000px;
}

@media (min-width: 1200px) {
  .flip-card {
  height: 200px;
  width: 240px;
  }
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
}

.card-back {
  background-color: ivory;
  height: 180px;
  width: 240px;
  transform: rotateY(180deg)
}

@media (min-width: 1200px) {
  .card-back {
    height: 200px;
    width: 240px;
  }
}

.contato .icons{
  text-align: center;
}

.contato a {
  color: wheat;
  font-size: 10em;
  transition: text-shadow 500ms;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 1px 2px 10px white;
}

.contato a:active {
  text-decoration: none;
  text-shadow: 1px 2px 10px black;
  transition: text-shadow 500ms;
}

.borda {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}
