* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fontes adicionais */
/*     font-family: 'Press Start 2P', cursive;

    font-family: 'Stardos Stencil', cursive; */

body {
    background-image: url('../img/Backgroundjpg\ \(1\).jpg');
    background-size: auto 100vh;
    height: 100vh;
    font-family: harrington;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400 px carrega */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
.menu { 
    background-color: #999999;
   /*isso chama somente o menu*/
    position: fixed;
    width: 100vw;
    top: 0;

}

.menu ul {
    display: flex;
    justify-content: space-around;
}
    
.menu li {
    list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  }

a {
    color: purple;
    text-decoration: none;
  /*identificador todos do grupo sao alterados*/
}
  
a:hover{
    text-decoration: underline;
  /*isso é um pseudoseletor*/
}
  
.site-subtitle,
.site-title {
    text-align: center;
    color: whitesmoke;
}

.site-title {
  font-size: 4em;
  font-family: 'Press Start 2P', cursive;
}

.Portfolio {
  padding: 2em;
  height: 100vh;
}

.Portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 540px) {
  .Portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .Portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
    align-content: center;
    height: calc(100vh - 4em - 48px - 1.5em);
  }
}

.Portfolio figure {
  text-align: center;  
}

.Portfolio h2{
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1.5em;

}
  
.site-subtitle {
    font-style: italic;
    font-family: 'Stardos Stencil', cursive;
}
  
.img-portfolio {
    height: 180px;
    width: 240px;
    /*object-fit: cover;
    object-position: inherit;*/
}

@media (min-width: 1200px) {
  .img-portfolio {
    height: 200px;
    width: 240px;
}
}